.bx--accordion__item {
    margin: 0 10% 0 10%;
    background-color: white;
}
.bx--accordion__title{
    font-size: 1.5rem;
    text-align: start;
}
.bx--accordion__content {
    width: 125%;
}
.bx--accordion__content p{
    font-size: 1.1rem;
    margin-bottom: 2rem;
    text-align: left;
}