.select__system--main {
    display: grid;
    margin: 10% 10% auto 10%;
    height: 200px;
}

.select__system--form{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}
.select__system--form-title{
    grid-row: 1;
}
.select__system--form-container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 30%);
    grid-row: 2;
}

.select__system--form-system,
.select__system--form-manu,
.select__system--form-wu {
    width: 100%;
    margin-top: 20px;
}
.bx--select-input,
.bx--text-input {
    height: 3rem;
}

.select__system--btncontainer{
    display: grid;
    grid-template-columns: repeat(2, 40%);
    margin-right: 60%;
    grid-row: 3;
}

.select__system--form-delete,
.select__system--form-button {
    width: 100%;
}
.bx--btn {
    width: 100%;;
}