.modal-box__main {
    grid-row: 1;
    margin-top: 3.2%;
    margin-left: 16rem;
    display: grid;
    grid-template-rows: repeat(6, 15%);
    height: 88vh;
}
.modal-box__box{
    border: 1px solid white;
}
.modal-box__box .bx--pagination-nav {
    margin-top: 1%;
    margin-left: 40%;
    height: 60px;
}
