a {
    text-decoration: none;
    color: black;
}
.landing-page-content {
    display: grid;
    grid-template-columns: repeat(16, 6.25%);
    grid-template-rows: repeat(9, 11%);
    width: 100%;
    height: 90vh;
    margin-top: 5vh;
}
.landing-page-content .box {
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
}
.landing-page-content .box:nth-child(1){
    grid-area: 2/2/5/6;
}
.landing-page-content .box:nth-child(2){
    grid-area: 2/7/5/11;
}
.landing-page-content .box:nth-child(3){
    grid-area: 2/12/5/16;
}
.landing-page-content .box:nth-child(4){
    grid-area: 6/2/9/6;
}
.landing-page-content .box:nth-child(5){
    grid-area: 6/7/9/11;
}
.landing-page-content .box:nth-child(6){
    grid-area: 6/12/9/16;
}

.landing-page-content .box:hover{
    cursor: pointer;
    background-color: #0000000e;
}
.landing-page-content .box-title {
    margin-top: 1%;
    text-align: start;
    padding: 10px;
    font-size: 3rem;
}
.landing-page-content .box-content {
    display: grid;
    grid-template-rows: repeat(4, 25%);
    grid-template-columns: repeat(8, 12.5%);
    height: 70%;
}

.landing-page-content .box-content p {
    color: #0f62fe;
    font-size: 20px;
    margin-left: 3%;
}
.context{
    grid-area: 1/1/4/8;
}
.icon-container {
    grid-column: 8;
    grid-row: 4;
    color: #0f62fe;
}

