a {
    text-decoration: none;
    color: black;
}
.landing-page-content {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-top: 48px;
    margin-left: 250px;
    width: calc(100%-270px);
}
.landing-page-content .box {
    display: grid;
    margin: 0;
    width: auto;
    height: 710px;
}
.landing-page-content .box h1 {
    text-align: end;
    margin-right: 40%;
    height: 50px;
    background-color: #ffffff50;
}
.box a{
    text-decoration: none;
    color: whitesmoke;
}
.box:first-child{
    background-image: url("../assets/ibm-close.jpg");
    background-size: cover;
    background-position: center;
    font-weight: bold;
    color: whitesmoke;
}

.box:first-child:hover{
    transition-duration: 1s;
    background-image: url("../assets/ibm-open.jpg");
    background-size: cover;
    background-position: center;
    font-weight: bold;
    cursor: pointer;
    background-color: #808080ad;
}


.box:last-child{
    background-image: url("../assets/ibm-lgbt.jpg");
    background-size: cover;
    color: whitesmoke;
}