.landing-page-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 48px;
    margin-left: 250px;
    width: calc(100%-270px);
}
.landing-page-content .box {
    display: grid;
    place-items: center;
    margin: 0;
    width: auto;
    height: 710px;
}
.box:first-child{
    background-image: url("../assets/people.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bold;
}
.box:nth-child(2){
    background-image: url("../assets/ibm.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.box:last-child{
    background-image: url("../assets/power.jpg");
    background-size: cover;
    color: white;
}
.box:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
}